header {
    text-align: center;
    margin: auto;
    width: 50%;
}

button {
    margin: 10px;
    width: 50%;
}

#board {
    display: flex;
    margin: 5% auto;
    flex-wrap: wrap;
    width: 306px;
    height: fit-content;
    visibility: hidden;
}

.tile {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    font-size: 6em;
    text-align: center;
}

.tile:hover {
    cursor: pointer;
    background-color: rgba(146, 204, 255, 0.377);
}

.selected {
    border: 3px double black;
}